In [ ]:
print("hello world")

In [ ]:
#Numbers
#a=3 ; b=5  #a and b are number objects
a = 3
b = 5
print(a)
print(b)

In [ ]:
a = 3
b = 5
print(a + b) #addition
print(a - b) #sutraction
print (a * b) #Multiplication
print          (a / b) #dividation
print(type(b))

In [ ]:
#String
str1 = 'Hello Students' #string str1
str2 = ' how are you' #string str2

In [ ]:
print(str1)
print(str2)

In [ ]:
str11 = 'Hello students '
str2 = 'how r u'

In [ ]:
print(str11)
print(str2)
print(str1)

In [ ]:
Name  = "Pranav"
Middle_name = ' Pravin'
Surname = " Gandhi"
Address = ' Pune, Maharashtra'
Name + Middle_name + Surname + Address #concatenation

In [ ]:
str1
str2

In [ ]:
str1

In [ ]:
str2

In [ ]:
print (Address[7:]) #printing first five character using slice operator

In [ ]:
(str1[0:3])

In [ ]:
print (str1[4]) #printing 5th character of the string

In [ ]:
print(str1*2) #printing the string twice

In [ ]:
print (str1 + " " + str2) #printing the concatenation of str1 and str2

In [ ]:
#Lists
list_1  = [1, "hi", "python", True, "a", "Santosh", 'Mango']

In [ ]:
print (list_1[1:])

In [ ]:
print (list_1[0:2])

In [ ]:
print (list_1)

In [ ]:
print (list_1 + l)

In [ ]:
print (list_1 * 3)

In [ ]:
print (type(list_1))
type(list_1)

In [ ]:
list_1

In [ ]:
#Lets try mutation 
list_1[1] = "Bye"

In [ ]:
print (list_1) #Bye get added to existing list

In [ ]:
#Tuple
t  = ('hi', 'python', 2, 4, "world", "ravi", True, 4.5)

In [ ]:
t

In [ ]:
print (t[1:]) ; print(t) #Semicolon is optional for single line but for multiple lines to execute we have to put it

In [ ]:
print (t[0:3])

In [ ]:
print (t)

In [ ]:
print (t + t)

In [ ]:
print (t * 3)

In [ ]:
print (type(t))

In [ ]:
t

In [ ]:
#Lets try mutation 
t[1] = "Bye"         #trows error, as tuple object does not support item assignement

In [ ]:
print (t)

In [ ]:
#Dictionary
d = {101:"Jimmy", 222:'Alex', 333:'john', 40:'mike'}

In [ ]:
d

In [ ]:
print("1st name is " + d[101])

In [ ]:
print("2nd name is " + d[40])

In [ ]:
print (d);

In [ ]:
print (d.keys());

In [ ]:
print (d.values());

In [ ]:
#----ADVANCED----
#list
#ordered collection of items; sequence of items in a list
shoplist =['apple','carrot','mango', 'banana']

In [ ]:
shoplist

In [ ]:
len(shoplist)

In [ ]:
print(shoplist)

In [ ]:
#add item to list
shoplist.append('rice')

In [ ]:
shoplist

In [ ]:
#sort
shoplist.sort()  #inplace sort

In [ ]:
shoplist

In [ ]:
#index/select
shoplist[0]

In [ ]:
shoplist[0:4]

In [ ]:
#delete item
del shoplist[0]

In [ ]:
shoplist

In [ ]:
#Tuple
#Used to hold multiple object; similar to lists; less functionality than list
#immutable - cannot modify
zoo = ('python','lion','elephant','bird')

In [ ]:
zoo

In [ ]:
len(zoo)

In [ ]:
languages = 'c', 'java', 'php' , 1, "c++"              #better to put (), this also works

In [ ]:
languages

In [ ]:
type(languages)

In [ ]:
#Dictionary - like an addressbook. use of associate keys with values
#key-value pairs { 'key1':value1, 'key2':value2} ; { } bracket, :colon

In [ ]:
student = {'A101': 'Abhinav', 'A102': 'Ravi', 'A103':'Prafull', 'A104': 'Karan'}

In [ ]:
student

In [ ]:
student['A103']

In [ ]:
print('Name of rollno A103 is ' + student['A103'])

In [ ]:
del student['A104']

In [ ]:
student

In [ ]:
len(student)

In [ ]:
#Lets test Mutation: 
#adding a value
student['A104'] = 'Hitesh'

In [ ]:
student

In [ ]:
#Set
Anubhav = {1,2,3,4,5,4,2,5,5,5,5,5,5}

In [ ]:
Anubhav

In [ ]:
Aman_1 = set() #Empty set creation using set function

In [ ]:
Aman_1

In [ ]:
a = list() #Empty list creation

In [ ]:
a

In [ ]:
b = tuple()

In [ ]:
b

In [ ]:
c = dict()

In [ ]:
c

In [ ]:
d = series() #cause series() is available in pandas, we need to import pandas for this, that we will see when we study pandas package

In [ ]:
e = DataFrame() #cause DataFrame() is available in pandas, we need to import pandas for this, that we will see when we study pandas package

In [ ]:
#Sets
teamA = set(['india','england','australia','sri lanka','ireland'])

In [ ]:
teamA

In [ ]:
teamB = set(['pakistan', 'south africa','bangladesh','ireland'])

In [ ]:
teamB

In [ ]:
#Checking whether a data value exists in a set or not.
'india' in teamA

In [ ]:
'india' in teamB

In [ ]:
#Adding values in a set
teamA.add('China')

In [ ]:
teamA

In [ ]:
teamA.add('india')

In [ ]:
teamA  #no duplicates

In [ ]:
teamA.remove('australia')

In [ ]:
teamA

In [ ]:
#Create dataframe :
import pandas as pd

In [ ]:
#Create a DataFrame
d = {'Name':['Alisa','Bobby','Cathrine','Alisa','Bobby','Cathrine',
            'Alisa','Bobby','Cathrine','Alisa','Bobby','Cathrine'],
     
     
     
     
    'Exam':['Semester 1','Semester 1','Semester 1','Semester 1','Semester 1','Semester 1',
           'Semester 2','Semester 2','Semester 2','Semester 2','Semester 2','Semester 2'],
     
     
     
     
   'Subject':['Mathematics','Mathematics','Mathematics','Science','Science','Science',
                               'Mathematics','Mathematics','Mathematics','Science','Science','Science'],
     
 
     
     
    'Score':[62,47,55,74,31,77,85,63,42,67,89,81]}

In [ ]:
d

In [ ]:
df = pd.DataFrame(d,columns=['Exam','Subject','Score','Name']) #Dataframes are 2 dimensional array

In [ ]:
import pandas as pd
df

In [ ]:
#View a column of the dataframe in pandas:

df ['Name']

#df [['Name']]

In [ ]:
#View two columns of the dataframe in pandas:

df [['Name','Score','Exam']]

In [ ]:
#View first two rows of the dataframe in pandas:
df[0:2]

In [ ]:
import pandas as pd
import numpy as np


# Creating empty series (Series is a single dimentional array)
ser = pd.Series()

print(ser)

In [ ]:
# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data)
print(data)
print("\n")
print(ser)

In [ ]:
data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data, name = "Trial")
print(ser)