In [2]:
#---------------------------------Joins----------------------------------------
#We can merge two data frames in python by using the merge() function of pandas
#Create dataframe:
import pandas as pd

In [3]:
# Example 1:

# data frame 1
d1 = {'Customer_id':pd.Series([1,2,3,4,5,6]),
      'Product':pd.Series(['Oven','Oven','Oven','Television','Television','Television'])}
df1 = pd.DataFrame(d1)
print(df1)

   Customer_id     Product
0            1        Oven
1            2        Oven
2            3        Oven
3            4  Television
4            5  Television
5            6  Television

In [4]:
# data frame 2
d2 = {'Customer_id':pd.Series([2,4,6]),
      'State':pd.Series(['California','California','Texas'])}
df2 = pd.DataFrame(d2)
print(df2)

   Customer_id       State
0            2  California
1            4  California
2            6       Texas

In [5]:
d3 = {'Customer_id':pd.Series([1,3,6]),
        'Price' : pd.Series([20,50,30])}
      
df3 = pd.DataFrame(d3)

print(df3)

   Customer_id  Price
0            1     20
1            3     50
2            6     30

In [6]:
#Inner join using pandas: 
#Return only those rows where left table have matching keys in the right table
print (pd.merge(df2, df3, on='Customer_id', how='inner'))

   Customer_id  State  Price
0            6  Texas     30

### Full/Outer join using pandas
#Returns all rows from both tables.

print (pd.merge(df1, df2, on='Customer_id', how='outer'))

In [7]:
#join records from left table which have matching keys in right table.

#Left Join using pandas
#Returns all rows from left table and any rows with matching keys from right table.
print (pd.merge(df1, df2, on='Customer_id', how='left'))

   Customer_id     Product       State
0            1        Oven         NaN
1            2        Oven  California
2            3        Oven         NaN
3            4  Television  California
4            5  Television         NaN
5            6  Television       Texas

In [8]:
#Right Join using pandas
#Returns all rows from right table and any rows with matching keys from left table.
print (pd.merge(df1, df2, on='Customer_id', how='right'))

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas

In [9]:
#Example 2:

# Dataset 1
emp_1 = {"Name": ["Penn", "Smith", "William", "Parker"],  
"Age": [21, 32, 29, 28]}  
EmpList_1 = pd.DataFrame(emp_1)  
print(EmpList_1)

      Name  Age
0     Penn   21
1    Smith   32
2  William   29
3   Parker   28

In [10]:
# Dataset 2
emp_2 = {"Name": ["Penn", "Suzzane", "William"],  
"Education-Level": ["Under-Grad", "PG", "Grad"]}  
EmpList_2 = pd.DataFrame(emp_2)  
print(EmpList_2)

      Name Education-Level
0     Penn      Under-Grad
1  Suzzane              PG
2  William            Grad

In [11]:
#Inner join using pandas: 
print (pd.merge(EmpList_1, EmpList_2, on='Name', how='inner'))

      Name  Age Education-Level
0     Penn   21      Under-Grad
1  William   29            Grad

In [12]:
#Full join using pandas
print (pd.merge(EmpList_1, EmpList_2, on='Name', how='outer'))
#join records from left table which have matching keys in right table.

      Name   Age Education-Level
0     Penn  21.0      Under-Grad
1    Smith  32.0             NaN
2  William  29.0            Grad
3   Parker  28.0             NaN
4  Suzzane   NaN              PG

In [13]:
#Left Join using pandas
print (pd.merge(EmpList_1, EmpList_2, on='Name', how='left'))

      Name  Age Education-Level
0     Penn   21      Under-Grad
1    Smith   32             NaN
2  William   29            Grad
3   Parker   28             NaN

In [14]:
#Right Join using pandas
#Returns all rows from right table and any rows with matching keys from left table.
print (pd.merge(EmpList_1, EmpList_2, on='Name', how='right'))

      Name   Age Education-Level
0     Penn  21.0      Under-Grad
1  Suzzane   NaN              PG
2  William  29.0            Grad